.box {
  width: 200px;
  height: 200px;
  background-color: #c4c4c4;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 5px;
}
